{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease-Predictor</title>

    <link href="{% static 'predictor/styles.css' %}" rel="stylesheet">
    <script src="{% static 'predictor/index.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

    <script src="https://kit.fontawesome.com/4303a1479a.js" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <section class="header">
        <nav>
            <a href="#">Disease-Predictor</a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#predict">Predict</a></li>
                    <li><a href="#how_to_use">How to use</a></li>
                    <li><a href="#why_this">Why this?</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>
<!--
    Diseases: 
Kidney
Breast Cancer
Heart
Liver
Diabetes -->

<!-- -----------------------HOME SECTION--------------------- -->
<section class="home">
            <div class="home-content">
                <div class="text1">Welcome to our</div>
                <div class="text2">Disease-Predictor</div>
            </div>
</section>

<div id="predict">
    <h4>Predict</h4>
    <div class="under-line"></div>
    <div id="selector">
        <select name="select_disease" id="disease_slctr">
            <option value="" selected>Select Disease</option>
            <option value="kidney">Kidney</option>
            <option value="breast_cancer">Breast Cancer</option>
            <option value="heart">Heart</option>
            <option value="liver">Liver</option>
            <option value="diabetes">Diabetes</option>
        </select>
    </div>
    <form id="kidney_data">
        <div class="inside_form">
            <h3>Kidney Form</h3>
            <div>
                <label for="age">Age: </label>
                <input type="number" min="5" max="130" required name="age" id="age">
            </div>
            <div>
                <label for="gender">Gender: </label>
                <select name="gender" id="gender" class="selectop">
                    <option value="" selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="notell">Choose not to tell</option>
                </select>
            </div>
            <div>
                <label for="bloodgrp">Blood Group: </label>
                <select name="bloodgrp" id="bloodgrp" class="selectop">
                    <option value="" selected>Select Blood Group</option>
                    <option value="apos">A+</option>
                    <option value="aneg">A-</option>
                    <option value="bpos">B+</option>
                    <option value="bneg">B-</option>
                    <option value="opos">O+</option>
                    <option value="oneg">O-</option>
                    <option value="abpos">AB+</option>
                    <option value="abneg">AB-</option>
                </select>
            </div>
            <div>
                <label for="bp">Blood Pressure: </label>
                <input type="number" min="20" max="250" required name="bp" id="bp">
            </div>
            <div>
                <label for="bsl">Blood Sugar Level: </label>
                <input type="number" required name="bsl" id="bsl">
            </div>
            <div>
                <label for="sg">Specific Gravity: </label>
                <input type="number" required name="sg" id="sg" step="0.01">
            </div>
            <div>
                <label for="alb">Albumin: </label>
                <input type="number" required name="alb" id="alb" step="0.1">
            </div>
            <div>
                <label for="rbc">Rbc Count: </label>
                <input type="number" required name="rbc" id="rbc" step="0.1">
            </div>
            <div>
                <label for="pcc">Pus Cell Count: </label>
                <input type="number" required name="pcc" id="pcc">
            </div>
            <div>
                <label for="pccs">Pus Cell Clumps: </label>
                <input type="number" required name="pccs" id="pccs">
            </div>
            <div>
                <!-- <input type="submit" value="Predict" class="btn btn-md btn-primary"> -->
                <input type="submit" class="submitbtn" id="form_kidney">
            </div>
        </div>
    </form>
    
    <form id="breast_cancer_data">
        <h3>Breast Cancer Form</h3>
        <!-- Data for Breast Cancer -->
        <div>
            <input type="submit" class="submitbtn" id="form_breast_cancer" disabled>
        </div>
    </form>

    <form id="heart_data">
        <h3>Heart Form</h3>
        <div>
            <input type="submit" class="submitbtn" id="form_heart" disabled>
        </div>
    </form>

    <form id="liver_data">
        <h3>Liver Form</h3>
        <div>
            <input type="submit" class="submitbtn" id="form_liver" disabled>
        </div>
    </form>

    <form id="diabetes_data">
        <div class="inside_form">
            <h3>Diabetes Form</h3>
            <div>
                <label for="age_d">Age: </label>
                <input type="number" min="5" max="130" required name="age_d" id="age_d">
            </div>
            <div>
                <label for="gender_d">Gender: </label>
                <select name="gender_d" id="gender_d" class="selectop">
                    <option value="" selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="notell">Choose not to tell</option>
                </select>
            </div>
            <div id="pregnancy_div">
                    <label for="pregnancy">Pregnant: </label>
                    <select name="pregnancy" id="pregnancy" class="selectop">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>
                    <!-- <label for="pregnant">Yes</label>
                    <input type="radio" name="pregnant" id="pregnant" value="yes">
                    <label for="not_pregnant">No</label>
                    <input type="radio" name="not_pregnant" id="not_pregnant" value="no"> -->
            </div>
            <div>
                <label for="bloodgrp_d">Blood Group: </label>
                <select name="bloodgrp_d" id="bloodgrp_d" class="selectop">
                    <option value="" selected>Select Blood Group</option>
                    <option value="apos">A+</option>
                    <option value="aneg">A-</option>
                    <option value="bpos">B+</option>
                    <option value="bneg">B-</option>
                    <option value="opos">O+</option>
                    <option value="oneg">O-</option>
                    <option value="abpos">AB+</option>
                    <option value="abneg">AB-</option>
                </select>
            </div>
            <div>
                <label for="glucose">Glucose: </label>
                <input type="number" name="glucose" id="glucose" required>
            </div>
            <div>
                <label for="bp_d">Blood Pressure: </label>
                <input type="number" name="bp" id="bp_d" required>
            </div>
            <div>
                <label for="bmi">BMI: </label>
                <input type="number" name="bmi" id="bmi" step="0.01" required>
            </div>
            <div>
                <label for="d_pedigree_fxn">Diabetes Pedigree Function: </label>
                <input type="number" name="d_pedigree_fxn" id="d_pedigree_fxn" required step="0.001">
            </div>
            <div>
                <input type="submit" class="submitbtn" id="form_diabetes">
            </div>
        </div>
    </form>
    <div id="waiting">
        <h4>Predicting..<span id="waiting_dot">.</span></h4>
    </div>
</div>

<!------------------------------ Predicted Value will be added inside this div(asyn) ------------------------------->

<div id="result"></div>

<!----------------------------------------------------------------------- How to use ------------------------------------------- -->
<section class="how-to-use" id="how_to_use">
    <h4>How to Use</h4>
    <div class="under-line"></div>
    <div class="row first">
        <div class="col-column">
            <h3>Step 1</h3>
            <p>Select disease.</p>
        </div>

        <div class="col-column">
            <h3>Step 2</h3>
            <p>Enter disease parameters.</p>
        </div>

        <div class="col-column">
            <h3>Step 3</h3>
            <p>Know your chances of having the disease.</p>
        </div>

    </div>
</section>


<!-- ------------------------------------------- why this --------------------------------------- -->
<section class="why-this" id="why_this">
    <h4>Why this</h4>
    <div class="under-line"></div>
    <div class="outer">
        <p>Our aim is to provide a precise prediction about the possibility of a disease by analysing the factors related to that disease so that users gets to know about their health condition. 
            Disease prevention involves actions to reduce or eliminate exposure to risks that might increase the chances that an individual will incur any health problems. 
            Disease predictor saves time  by predicting the disease possibility so that an individual can get a check-up immediately.</p>
    </div>
</section>

<!-- ------------------------FeedBack-------------- -->
<section class="copyright">
<p>Copyright &copy; 2022. All rights reserved.</p>
</section>

<!-- ############------Javascript for Toggle Menu  ############ -->
<!-- <script src="script.js"></script> -->
<script src="{% static 'predictor/script.js' %}"></script>

</body>
</html>